// Breakpoints
$bp-mobile: 800px;
$bp-tablet: 1200px;
$bp-desktop: 1400px;

// Font Sizes
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.2rem;
$h4: 1rem;
$h5: 1rem;
$root: 16px;

// General sizes
$height-action: 48px;
$height-header: 3.8rem;
$width-content: 420px;

// Colors
$color-primary: #1c6fc3;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-darker: darken($color-primary-dark, 8%);
$color-primary-fade: rgba(0, 110, 255, 0.15);
$color-primary-light: lighten($color-primary, 15%);

$color-secondary: #777777;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-fade: lighten($color-secondary, 45%);
$color-secondary-light: lighten($color-secondary, 25%);

$color-accent: #b947bd;
$color-accent-light: lighten($color-accent, 20%);
$color-accent-fade: rgba(255, 45, 209, 0.171);

$color-bg-light: #eceef1;
$color-bg-lighter: lighten($color-bg-light, 2%);
$color-bg-dark: $color-primary;
$color-bg-darker: darken($color-bg-dark, 7%);
$color-fg-light: $color-bg-light;
$color-fg-dark: $color-bg-dark;
$color-border-light: darken($color-bg-light, 5%);
$color-border-dark: darken($color-border-light, 10%);
$color-body: #575757;

$color-success: #00a02b;
$color-warning: #dd9900;
$color-danger: #dd0000;
$color-danger-light: rgb(206, 144, 144);
$color-darkGrey: #555555;
$color-grey: #aaaaaa;
$color-midGrey: #dddddd;
$color-lightGrey: #f0f0f0;
$color-glass: rgba(255, 255, 255, 0.6);

//Borders
$border-radius: 0.35em;

// Spacing
$space-xxxs: 0.1rem;
$space-xxs: 0.35rem;
$space-xs: 0.7rem;
$space-sm: 1.4rem;
$space-md: 2.1rem;
$space-lg: 2.8rem;

// Shadows
// $shadow-card: 0 0.15rem 0.15rem rgba(0,0,0,0.1);
$shadow-card: none;
$shadow-light: 0 0 0.2rem rgba(0, 0, 0, 0.2);
$shadow-heavy: 0 0 0.2rem rgba(0, 0, 0, 0.4);

// Timing
$time-xs: 0.1s;
$time-sm: 0.25s;

// Layout
$shelf-width: 220px;
$shelf-height: 200px;
$shelf-large-width: 380px;
$shelf-large-height: 80px;
$shelf-small-width: 60px;
$shelf-small-height: 60px;
$shelf-item-width: 190px;
