@import "../../styles/theme.scss";

.upload-row-comment {
    background-color: $color-bg-light;
    margin-top: $space-xxs;
    padding-bottom: 20px;
    position: relative;
}

.upload-row-comment-wordcount {
    bottom: 0;
    opacity: 0;
    padding: $space-xxs;
    position: absolute;
    right: 0;
    .upload-row-comment-visible & {
        opacity: 1;
        transition-delay: 0.3s;
        transition: opacity 0.3s;
    }
}
